<div class="wrapper">
  <ff-alerts></ff-alerts>
    <div class="sidebar" data-color="white" data-active-color="danger">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>
    <div class="main-panel">
        <app-navbar-cmp [user] = "userInfo"></app-navbar-cmp>

        <div class="content">
              <router-outlet></router-outlet>
<!--          <router-outlet (evente)="info($event)"></router-outlet>-->
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>

<app-fixedplugin-cmp></app-fixedplugin-cmp>
