
<form [formGroup]="form" class="form-control" (ngSubmit)="onSubmit()">
  <p style="font-size: 30px">Dodaj wątek</p>
  <div class="form-group">
    Tytuł:<br>
    <input size="80%" type="text" name="title" id="title" required="true">
  </div>
  <div class="form-group">
    Treść:<br>
    <textarea maxlength="2000" name="content" class="content-input" ></textarea>
  </div>
  <div class="form-group">
    <br>Dodaj link zawartości:
    <input size="50%" type="url" name="content_url">
  </div>
  <div class="form-group">

    <button class="btn" type="submit">Utwórz</button>
  </div>
</form>
