<div class="col-md-12">
  <form class="form-control" [formGroup]="postGroup">
    <textarea maxlength="2000" name="contentText" class="content-input"></textarea>

    <br>Add content link:
    <input size="50%" type="url" name="contentLink">
    <br>
    <button class="btn" type="submit">Post</button>
  </form>
</div><br>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h2 class="card-title">Post pierwszy News</h2>
        <p class="card-category">News</p>
      </div>
        <div class="card-body ">

          <div class="content-container">
            <img class="img" href="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg"
                 src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg">
          </div>

          <p class="content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>

        </div>
      <div class="card-footer ">
        Maciej Stefanowicz
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> 18.01.2020
        </div>
      </div>
    </div>
  </div>
</div>
