

<div class="col-md-12">
  <div class="card">
    <div class="card-header ">
      <h2 class="card-title">{{request["nazwa"]}}</h2>
<!--      <p class="card-category">{{getTitle()}}</p>-->
    </div>
    <div class="card-body ">

<!--      <div class="content-container">-->
<!--        <div *ngIf="posts['Content_url'].includes(['jpg'])">-->
<!--          <a href="{{posts['Content_url']}}">-->
<!--          <img class="img" src="{{posts['Content_url']}}" href="{{posts['Content_url']}}">-->
<!--          </a>-->
<!--        </div>-->
<!--        <div *ngIf="posts['Content_url'].includes(['youtube'])">-->
<!--          <iframe class="video" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allowfullscreen></iframe>-->

<!--        </div>-->

<!--      </div>-->

<!--      <p class="content-text">-->
<!--        {{content["Content"]}}-->
<!--      </p>-->

    </div>
    <div class="card-footer ">
      {{request['posts'][0]["uzytkownik"]['nazwa']}}
      <hr>
      <div class="stats">
        <i class="fa fa-calendar"></i> {{request["data_modyfikacji"] | date: 'd.M.y hh:mm:ss'}}
      </div>
    </div>
  </div>
</div>
<div class="col-md-11 align-middle">
  <form class="form-control"  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
      <label for="tresc">Treść</label>
      <textarea class="comment form-control" maxlength="2000" required="true" id="tresc" formControlName="tresc" [ngClass]="{ 'is-invalid': submitted && f.tresc.errors }"></textarea>
      <div *ngIf="submitted && f.tresc.errors" class="invalid-feedback">
        <div *ngIf="f.tresc.errors.required">Treść jest wymagana!</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class=" spinner-border spinner-border-sm mr-1"></span>
        Postuj
      </button>
    </div>
  </form>
</div><br>
<ng-template ngFor let-item [ngForOf]="this.request['posts']">

<div class="row">
  <div class="col-md-11">
    <div class="card">
    <div class="card-body ">
      {{item["tresc"]}}
    </div>
    <div class="card-footer comment">

      <hr>
      <div class="stats author">
        {{item["uzytkownik"]['nazwa']}} <i class="fa fa-calendar"></i> {{this.pipe.transform(item["data_wyslania"], 'd.M.y hh:mm:ss ')}}
      </div>
    </div>
    </div>
  </div>
</div>
</ng-template>
