<div class="card">
  <div class="col-md-12 card-wrapper"><br>
    <h2><b>Witaj na naszym Forum!</b></h2>
  </div>
</div>
<div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header ">
            <h2 class="card-title"></h2>
          </div>
          <div class="card-body row text-center">

            <div class="col-2"></div>
            <div class="col-8"><h2>Mamy nadzieję, że znajdziesz tutaj to czego szukasz!</h2></div>
            <div class="col-1"></div>
          </div>
          <div class="card-footer text-right">
            <hr>
            <div class="stats">
              ~Moderator
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
