<h2>Latest posts</h2>
<ng-template ngFor let-item [ngForOf]="posts">
  <a href="#/page#{{item['id']}}">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h2 class="card-title">{{item["Name"]}}</h2>
            <!--        <p class="card-category">{{item["Category"]}}</p>-->
          </div>
          <div class="card-body ">
            <div *ngIf="(item['Content']).length>300">{{item["Content"]|slice:0:300}}...</div>
            <div *ngIf="(item['Content']).length<=300">{{item["Content"]}}</div>
          </div>
          <div class="card-footer ">
            {{item["Author"]}}
            <hr>
            <div class="stats">
              <i class="fa fa-calendar"></i> {{item["Date"]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</ng-template>
