<div class="card-wrapper">
<div class="access-card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group">
                <label for="nazwa">Nazwa użytkownika</label>
                <input type="text" id="nazwa" formControlName="nazwa" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nazwa.errors }" />
                <div *ngIf="submitted && f.nazwa.errors" class="invalid-feedback">
                    <div *ngIf="f.nazwa.errors.required">Nazwa użytkownika jest wymagana</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email jest wymagany</div>
                    <div *ngIf="f.email.errors.email">Wprowadź poprawny email</div>
                </div>
            </div>
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Login jest wymagany</div>
            </div>
          </div>
            <div class="form-group">
                <label for="haslo">Hasło</label>
                <input type="haslo" id="haslo" formControlName="haslo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.haslo.errors }" />
                <div *ngIf="submitted && f.haslo.errors" class="invalid-feedback">
                    <div *ngIf="f.haslo.errors.required">Hasło jest wymagane</div>
                    <div *ngIf="f.haslo.errors.minlength">Hasło musi składać się z przynajmniej 8 znaków</div>
                    <div *ngIf="f.haslo.errors.pattern">Hasło musi zawierać przynajmniej jeden znak, małą i dużą literę oraz liczbę</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Zarejestruj
                </button>
                <a routerLink="/loguj" class="btn btn-link">Mam już konto...</a>
            </div>
        </form>
    </div>
</div>
</div>
