

  <div class="col-md-12">
        <form class="form-control" [formGroup]="postGroup">
          <textarea maxlength="2000" name="contentText" class="content-input"></textarea>

          <br>Add content link:
          <input size="50%" type="url" name="contentLink">
          <br>
          <button class="btn" type="submit">Post</button>
        </form>
  </div><br>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h2 class="card-title">Post pierwszy Computers</h2>
        <p class="card-category">Computers</p>
      </div>
      <div class="card-body ">


      </div>
      <div class="card-footer ">
        Maciej Stefanowicz
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> 18.01.2020
        </div>
      </div>
    </div>
  </div>
</div>
